body {
  margin: 0px 0px 0px 0px;
}
#wrapper {
  background-image: linear-gradient(#ffcc76, #66d99b);
}
h1 {
  padding: 32px 0px 0px 0px;
  font-family: Fascinate;
  width: 360px;
  color: #fff;
  margin: 0 auto;
  font-size: 44px;
  cursor: pointer;
}
h2 {
  font-size: 14px;
  font-family: sans-serif;
  margin: 22px 0px 0px 0px;
}
#current-img,
#next-program-img,
#next-program,
#channelUrl,
#current-program,
#channel-img,
h1,
h2 {
  text-align: center;
}
#channel-img img {
  width: 52px;
  margin-top: 73px;
  margin-bottom: 0px;
}
.radio {
  webkit-background-size: cover;
  background-size: cover;
  height: 683px;
  margin: 0px 0px 78px 0px;
  display: none;
}
#insta img {
  width: 1200px;
  display: none;
}
#current-img {
  margin: 24px 0px 0px 0px;
}
#current-img img {
  width: 240px;
}
#next-program-img {
  margin: 14px 0px 0px 0px;
}
#next-program-img img {
  width: 110px;
}
#current-program {
  background-color: #010101;
  color: #fff;
  margin: 0 auto;
  margin-top: 10px;
  padding: 8px 0px 8px 0px;
  font-family: sans-serif;
  width: 240px;
}
#next-program {
  background-color: #010101;
  color: #fff;
  margin: 0 auto;
  margin-top: 10px;
  padding: 8px 0px 8px 0px;
  font-family: sans-serif;
  width: 110px;
  font-size: 12px;
}
#channelUrl {
  margin-top: 20px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.animate-container {
  width: 500px;
  height: 500px;
  float: left;
  margin-top: -250px;
  margin-left: -250px;
  background: #302e2f;
  position: absolute;
  top: 50%;
  left: 50%;
}
.animate-container .full-circle {
  background: #ffeabb;
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -160px;
  border-radius: 160px;
  z-index: 0;
}
.octo-container {
  z-index: 2;
}
.octo-container .octo-head {
  background: #fe864a;
  width: 160px;
  height: 130px;
  border-radius: 40px;
  margin: 50px auto 0;
}
.octo-container .octo-head::before {
  content: "";
  width: 190px;
  height: 160px;
  position: absolute;
  background: #f9b089;
  border-radius: 40px;
  top: 160px;
  left: 50%;
  margin-left: -95px;
  margin-top: -132px;
  opacity: 0.4;
  border: 4px solid #fff0d1;
  box-sizing: border-box;
}
.octo-container .octo-head:after {
  content: "";
  width: 70px;
  height: 50px;
  position: absolute;
  border-radius: 40px;
  opacity: 0.3;
  -ms-transform: rotate(-41deg);
  -webkit-transform: rotate(-41deg);
  transform: rotate(-41deg);
  top: 54px;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.octo-container .octo-head .octo-spot {
  background: #ec6d3d;
  width: 12px;
  height: 7px;
  position: absolute;
  top: 97px;
  left: 180px;
  border-radius: 2px;
  opacity: .6;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
.octo-container .octo-head .spot-2 {
  left: 174px;
  top: 89px;
  width: 8px;
  height: 4px;
}
.octo-container .octo-head .octo-eye--container {
  width: 100%;
  height: 50px;
  position: relative;
  top: 65px;
}
.octo-container .octo-head .octo-eye--container .pupil {
  display: block;
  width: 10px;
  height: 13px;
  background: #292a2c;
  float: left;
  position: absolute;
  z-index: 3;
  top: 8px;
  border-radius: 7px;
}
.octo-container .octo-head .octo-eye--container .pupil::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
.octo-container .octo-head .octo-eye--container .pupil-right {
  right: 32px;
}
.octo-container .octo-head .octo-eye--container .pupil-left {
  left: 32px;
}
.octo-container .octo-head .octo-eye--container .octo-eye {
  width: 35px;
  height: 30px;
  background: #f06c3b;
  border-radius: 1.16666667px;
  position: absolute;
}
.octo-container .octo-head .octo-eye--container .octo-eye span {
  background: #292a2c;
  width: 10px;
  height: 100%;
}
.octo-container .octo-head .octo-eye--container .octo-eye::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #a1c643;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  z-index: 2;
}
.octo-container .octo-head .octo-eye--container .octo-eye::after {
  content: "";
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  margin-top: -12.5px;
  margin-left: -12.5px;
  position: absolute;
  z-index: 0;
}
.octo-container .octo-head .octo-eye--container .left {
  left: 20px;
}
.octo-container .octo-head .octo-eye--container .right {
  right: 20px;
}
.octo-container .octo-head .octo-mouth {
  width: 30px;
  height: 10px;
  background: #b85434;
  border-radius: 2.85714286px;
  margin: auto;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -15px;
}
.octo-container .octo-head .octo-mouth::after {
  content: "";
  width: 28px;
  height: 8px;
  background: #662626;
  position: absolute;
  border-radius: 2.85714286px;
  left: 50%;
  margin-left: -14px;
}
.tentacles-container .tentacle {
  width: 25px;
  height: 70px;
  background: #ff8849;
  position: absolute;
  z-index: -1;
  border-radius: 25px;
}
.tentacles-container .tentacle-1 {
  left: 114px;
  top: 145px;
  animation: tentacle1Move 5s infinite;
}
.tentacles-container .tentacle-2 {
  left: 146px;
  top: 160px;
  animation: tentacle2Move 5s infinite;
}
.tentacles-container .tentacle-3 {
  left: 180px;
  top: 150px;
  animation: tentacle3Move 5s infinite;
}
.octo-full {
  float: left;
  width: 100%;
  position: relative;
  animation: octoMove 6s infinite;
}
@keyframes octoMove {
  0% {
    top: -40px;
  }
  25% {
    top: 150px;
  }
  50% {
    top: 50px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: -40px;
  }
}
@keyframes tentacle1Move {
  0% {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  25% {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  75% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
}
@keyframes tentacle2Move {
  0% {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
@keyframes tentacle3Move {
  0% {
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  25% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  75% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-40deg);
  }
}
